html{
    background-color: brown;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .title1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .title1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin-bottom: 0px;
}

.container .title1 h1{
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .row{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .row .col-33{
    width: 33%;
    height: 60vh;
}

.container .row .col-33 figure{
    width: 80%;
    margin: 0;
    padding: 0;
}

.container .row .col-33 figure img{
    width: 100%;
}

